@using Microsoft.AspNetCore.Html

@model GuanajuatoAdminUsuarios.Models.Blocs.BlocAsignacionOficialModel

@{
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

    var delegacion = HttpContextAccessor.HttpContext.User.FindFirst(CustomClaims.OficinaDelegacion).Value;

    Layout = null;
    
  
}


<script>
    var Oficiales
    function success(e){
        Oficiales=e
        $("#CatOficial").data("kendoDropDownList").dataSource.data(e)
    }
    function OnReady(){
        SimpleAjaxPeticion("/Oficiales/OficialesDependenciaCatalogModel_Drop", {}, success)
    }
    $(document).ready(OnReady)
    function ChangeOficiales(){
        var idOficial = $("#CatOficial").data("kendoDropDownList").value()
        var dep = Oficiales.filter(s => s.value == idOficial)[0].aux
        $("#delegacion").data("kendoDropDownList").value(dep)
    }

</script>


<section class=" bg-white rounded">
    <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
        <div class="col-auto pe-0">
            <div class="row align-items-center justify-content-center justify-content-md-start">
                <div class="col-auto pe-0">
                    <i class="icon-bloc h1 colorPrimary"></i>
                </div>
                <div class="col-auto my-3">
                    <h2 class="m-0 h3"><b>Asignación de bloc</b></h2>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="col-auto my-3">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
    <form id="AsignaOfiForm" class="row px-4 mb-4 align-items-end justify-content-center">

        <div class="row">
            <div class="col-12">
                <div class="bg-light py-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 my-4">
                <h5 class="px-4"><b>Datos del bloc</b></h5>
                <h6 class="px-4 text-muted">Completa los datos obligatorios para asignar bloc.</h6>
            </div>
            
        </div>
        <div class="row ustify-content-md-center">
            <div class="col-2 col-md-2">
                <h6 class="px-2">No. de Serie </h6>
            </div>
            <div class="col-2 col-md-2">
                <h6 class="px-2">No. de Boletas </h6>
            </div>

            <div class="col-2 col-md-2">
                <h6 class="px-2">Tipo de Bloc</h6>
            </div>
            <div class="col-2 col-md-2">
                <h6 class="px-2">Asigna</h6>
            </div>
            <div class="col-2 col-md-2">
                <h6 class="px-2">Estado</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-2 col-md-2">
                <h6 class="px-2">
                    @Html.HiddenFor(a => a.RegistraId)
                    @(Html.Kendo().TextBox()
                        .Name("txSerie")
                        .Readonly(true)
                        .Value(Model.Serie)
                        )
                </h6>
            </div>
            <div class="col-2 col-md-2">
                <h6 class="px-2">
                    @(Html.Kendo().TextBox()
                        .Name("txNboletas")
                        .Readonly(true)
                        .Value(Model.TotalBoletas.ToString())
                        )
                </h6>
            </div>

        
            <div class="col-2 col-md-2">
                <h6 class="px-2">
                    @(Html.Kendo().TextBox()
                        .Name("txTipob")
                        .Readonly(true)
                        .Value(Model.TipoBloc)
                        )
                </h6>
            </div>
            <div class="col-2 col-md-2">
                <h6 class="px-2">
                    @(Html.Kendo().TextBox()
                        .Name("txAsigna")
                        .Readonly(true)
                        .Value(Model.Asigna)
                        .HtmlAttributes(new { style = "width: 100px;" })
                        )
                </h6>
            </div>
            <div class="col-2 col-md-2">
                <h6 class="px-2">
                    @(Html.Kendo().TextBox()
                        .Name("txEstado")
                        .Readonly(true)
                        .Value(Model.Estado)
                        .HtmlAttributes(new { style = "width: 100px;"})
                        )
                </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <h6 class="px-4"><b>Oficial (obligatorio):</b></h6>
                <h6 class="px-4">
                    <span>
                        @(Html.Kendo().DropDownList()
                            .Name("CatOficial")
                            .DataTextField("text")
                            .DataValueField("value")
                            .AutoWidth(true)
                            .Enable(true)
                            .Events(e=>e.Change("ChangeOficiales"))
                            .OptionLabel("Seleccione Oficial")
                            .HtmlAttributes(new { style = "width: 100%;" })
                            )
                    </span>
                </h6>
            </div>
    
            <div class="col-12 col-md-6">
                <h6 class="px-4"><b>Delegación (obligatorio):</b></h6>
                <h6 class="px-4">
                    <span>
                        @(Html.Kendo().DropDownList()
                            .Name("delegacion")
                            .DataTextField("text")
                            .DataValueField("value")
                            .AutoWidth(true)
                            .Enable(true)
                            .Value(delegacion)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetDelegacionesCorp", "Catalogos");
                                });
                            })
                            )
                    </span>
                </h6>
            </div>

        </div>

        <div class="row">
            <div class="col-auto my-3">
                <h6 class="px-4"><b>Adjunta una imagen del formato de recepción del bloc</b></h6>
            </div>
        </div>

        <div class="row px-4 mt-4 py-5 align-items-end">
            <div class="col-12 col-md-10 mx-md-auto text-center">
                <h3><b>Subir archivo</b></h3>
                <div class="row justify-content-center">
                    <div class="drop-zone">
                        <div class="drop-zone__prompt">
                            <svg id="svgImage" class="svg-image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="106.791" height="87.148" viewBox="0 0 106.791 87.148" onclick="document.getElementById('fileInput').click();">
                                <defs>
                                    <clipPath id="clip-path">
                                        <rect id="Rectángulo_2602" data-name="Rectángulo 2602" width="106.791" height="87.148" fill="none" />
                                    </clipPath>
                                </defs>
                                <g id="Grupo_1206" data-name="Grupo 1206" clip-path="url(#clip-path)">
                                    <path id="Trazado_720" data-name="Trazado 720" d="M44.9,0C28.864,0,17.567,13.843,18.165,28.177A20.889,20.889,0,0,0,0,48.541C0,61.113,9.68,70.385,20.63,70.385H35.192a2.427,2.427,0,1,0,0-4.854H20.63c-8.224,0-15.776-6.878-15.776-16.99,0-8.142,7.119-15.776,15.776-15.776A2.427,2.427,0,0,0,23.018,30C21.3,17.739,30.906,4.856,44.9,4.856A21.8,21.8,0,0,1,58.022,9.065,2.427,2.427,0,1,0,60.9,5.159,26.783,26.783,0,0,0,44.9,0ZM73.419,11.718a18.018,18.018,0,0,0-7.774,1.859,2.442,2.442,0,0,0,2.2,4.361,13.4,13.4,0,0,1,12.817.493c3.844,2.306,6.713,6.581,6.713,13.121a2.426,2.426,0,0,0,2.01,2.389c7.292,1.224,12.553,8.5,12.553,15.814,0,8.781-6.924,15.776-18.2,15.776H71.6a2.427,2.427,0,1,0,0,4.854H83.734c13.4,0,23.057-9.195,23.057-20.63,0-8.993-5.879-17.7-14.79-20.137-.58-7.025-4.028-12.436-8.835-15.32a18.263,18.263,0,0,0-8.609-2.579c-.377-.016-.758-.006-1.138,0ZM53.112,41.42a2.587,2.587,0,0,0-1.539.729L41.2,52.521a2.593,2.593,0,1,0,3.646,3.687L50.8,50.252V84.518a2.593,2.593,0,1,0,5.186,0V50.252l5.956,5.956a2.593,2.593,0,1,0,3.647-3.687L55.219,42.149a2.592,2.592,0,0,0-2.107-.729Z" />
                                </g>
                            </svg>
                            <h2 id="NameFile"></h2>
                            <h5>Arrastra o adjunta el</h5>
                            <h5 class="fw-bold">Archivo</h5>
                        </div>
                        <input type="file" name="myFile" id="fileInput" class="drop-zone__input">
                    </div>
                </div>
               
            </div>
        </div>

    </form>

    <div class="row my-4">
        <div class="col-12 col-md-6 mx-md-auto">
            <div class="row justify-content-around">
                <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                    <button type="button" class="btn btnOutline btn-sm btnClose" data-bs-dismiss="modal" aria-label="Close">
                        <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                    </button>
                </div>
                <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                    <div class="controlButton">
                        <button class="btnPrimary px-3" onclick="AsignaOficial()">
                            <h5 class="m-0"><b>Asignar</b></h5>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        $("#AsignaOfiForm").kendoValidator({
            rules: {
                greaterThanZero: function (input) {
                    if (input.is("[name=folioInicial]") || input.is("[name=folioFinal]")) {
                        return input.val() > 0;
                    }
                    return true;
                },
                folioFinalGreaterThanFolioInicial: function (input) {
                    if (input.is("[name=folioFinal]")) {
                        var folioInicial = parseInt($("[name=folioInicial]").val(), 10);
                        var folioFinal = parseInt(input.val(), 10);
                        return folioFinal >= folioInicial;
                    }
                    return true;
                }
            },
            messages: {
                greaterThanZero: "El valor debe ser mayor a cero",
                folioFinalGreaterThanFolioInicial: "El valor debe ser mayor o igual que folio inicial"
            }
        });
    });

    function validateAndSubmit() {
        var validator = $("#AsignaOfiForm").data("kendoValidator");
        if (validator.validate()) {
            AsignaOficial();
        } else {
            sitteg_warning('Por favor, corrija los errores en el formulario.');
        }
    }
      

    function AsignaOficial() {
        var validator = $("#AsignaOfiForm").data("kendoValidator");
        var isValid = validator.validate();
        if (!isValid) {
			return;
		}

        var Mydata = $("#AsignaOfiForm").serialize();
        var idOficial = $("#CatOficial").data("kendoDropDownList").value();
        var idDeleg = $("#delegacion").data("kendoDropDownList").value();
        var deleg = $("#delegacion").data("kendoDropDownList").dataSource.data().filter(e => e.value == idDeleg)[0]?.text;

        if (!idOficial){
            sitteg_warning('Debe seleccionar un oficial');
            return
        }

        if (idDeleg ==1){
            sitteg_warning('Debe seleccionar una delegacion');
            return
        }

        var file = fileInput.files[0];        
        if (typeof file == "undefined") {
            sitteg_info("Debe cargar una imagen para continuar");
            return;
        }        
        $('#asigOficial').modal('hide');
        $('body').removeClass('model-open');
        $('.modal-ModalAsignaBlo').remove();        
        showLoading();        
        
        var formData = new FormData();        
        formData.append('File', file);        
        formData.append('RegistraId', @Model.RegistraId);
        formData.append('CatOficial', idOficial);    
        formData.append('iddelegacion', idDeleg);
        formData.append('delegacion', deleg);


        $.ajax({
            url: '@Url.Action("AsignarOficial", "Blocs")',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
                sitteg_success('Se ha asignado el oficial al bloc');
                var grid = $("#gridBlocs").data("kendoGrid");
                grid.dataSource.read();
                hideLoading();
            },
            error: function (error) {
                console.log(error);
                sitteg_warning('Sucedio um error, intente mas tarde...');
                hideLoading();
            }
        });
    }


    var dropZone = document.querySelector('.drop-zone');
    var fileInput = document.getElementById('fileInput');
    var svgImage = document.getElementById('svgImage');

    document.getElementById('fileInput').onchange = function (event) {
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            svgImage.classList.add("ready")
            $("#NameFile").empty().append(file.name)
        };

        reader.readAsDataURL(file);
    };

</script>
